# NestJS App Config
PORT=3000

# Database Connection (PostgreSQL Local)
# Đổi "postgres:postgres" thành username:password của DB anh sẽ cài
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/schoolify_db?schema=public"

# JWT & Security
JWT_SECRET="schoolify_super_secret_key_2026_local"
JWT_EXPIRATION="7d"

# Supabase (Nếu tạm thời chưa dùng thì cứ để trống hoặc dùng key test)
SUPABASE_URL=""
SUPABASE_KEY=""
